SELECT SCD.CD_ITEM, SCD.CD_CENTRO_CUSTO, SCD.CD_CONTA_GERENCIAL, CPCG.DS_CLASSIFICACAO, CPCG.DS_CONTA_GERENCIAL,
(SELECT TOP 1
	CASE 
		WHEN MONTH(SCOC.DT_EMISSAO)=1 THEN VL_MES_JAN
		WHEN MONTH(SCOC.DT_EMISSAO)=2 THEN VL_MES_FEV
		WHEN MONTH(SCOC.DT_EMISSAO)=3 THEN VL_MES_MAR
		WHEN MONTH(SCOC.DT_EMISSAO)=4 THEN VL_MES_ABR
		WHEN MONTH(SCOC.DT_EMISSAO)=5 THEN VL_MES_MAI
		WHEN MONTH(SCOC.DT_EMISSAO)=6 THEN VL_MES_JUN
		WHEN MONTH(SCOC.DT_EMISSAO)=7 THEN VL_MES_JUL
		WHEN MONTH(SCOC.DT_EMISSAO)=8 THEN VL_MES_AGO
		WHEN MONTH(SCOC.DT_EMISSAO)=9 THEN VL_MES_SET
		WHEN MONTH(SCOC.DT_EMISSAO)=10 THEN VL_MES_OUT
		WHEN MONTH(SCOC.DT_EMISSAO)=11 THEN VL_MES_NOV
		WHEN MONTH(SCOC.DT_EMISSAO)=12 THEN VL_MES_DEZ
	END 
FROM TBL_NEWNORTE_ORCAMENTO_ANUAL WHERE SCOC.CD_ORDEM_COMPRA = 161/*ORDEM DE COMPRA SELECIONADA*/ AND CPCG.CD_CONTA_GERENCIAL = CD_CONTA_GERENCIAL AND SCD.CD_CENTRO_CUSTO = CD_CENTRO_CUSTO) VL_LIMITE,

(SELECT SUM(SCD01.VL_CUSTO) FROM SEL_COMPRAS_ORDEM_COMPRA AS SCOC01
LEFT JOIN SEL_CUSTOS_DESDOBRADOS AS SCD01 ON SCD01.CD_LANCAMENTO = SCOC01.CD_ORDEM_COMPRA
LEFT JOIN SEL_CONTABIL_PLANO_CONTAS_GERENCIAL AS CPCG01 ON CPCG01.CD_CONTA_GERENCIAL = SCD01.CD_CONTA_GERENCIAL
WHERE SCOC01.CD_USUARIO_AUTORIZOU IS NOT NULL AND SCOC01.CD_USUARIO_REPROVOU IS NULL AND SCD01.CD_ORIGEM = 20 AND SCD01.CD_CONTA_GERENCIAL = SCD.CD_CONTA_GERENCIAL
GROUP BY SCD01.CD_CONTA_GERENCIAL) VL_UTILIZADO,
((SELECT TOP 1
	CASE 
		WHEN MONTH(SCOC.DT_EMISSAO)=1 THEN VL_MES_JAN
		WHEN MONTH(SCOC.DT_EMISSAO)=2 THEN VL_MES_FEV
		WHEN MONTH(SCOC.DT_EMISSAO)=3 THEN VL_MES_MAR
		WHEN MONTH(SCOC.DT_EMISSAO)=4 THEN VL_MES_ABR
		WHEN MONTH(SCOC.DT_EMISSAO)=5 THEN VL_MES_MAI
		WHEN MONTH(SCOC.DT_EMISSAO)=6 THEN VL_MES_JUN
		WHEN MONTH(SCOC.DT_EMISSAO)=7 THEN VL_MES_JUL
		WHEN MONTH(SCOC.DT_EMISSAO)=8 THEN VL_MES_AGO
		WHEN MONTH(SCOC.DT_EMISSAO)=9 THEN VL_MES_SET
		WHEN MONTH(SCOC.DT_EMISSAO)=10 THEN VL_MES_OUT
		WHEN MONTH(SCOC.DT_EMISSAO)=11 THEN VL_MES_NOV
		WHEN MONTH(SCOC.DT_EMISSAO)=12 THEN VL_MES_DEZ
	END 
FROM TBL_NEWNORTE_ORCAMENTO_ANUAL WHERE SCOC.CD_ORDEM_COMPRA = 161/*ORDEM DE COMPRA SELECIONADA*/ AND CPCG.CD_CONTA_GERENCIAL = CD_CONTA_GERENCIAL AND SCD.CD_CENTRO_CUSTO = CD_CENTRO_CUSTO) -
(SELECT SUM(SCD01.VL_CUSTO) FROM SEL_COMPRAS_ORDEM_COMPRA AS SCOC01
LEFT JOIN SEL_CUSTOS_DESDOBRADOS AS SCD01 ON SCD01.CD_LANCAMENTO = SCOC01.CD_ORDEM_COMPRA
LEFT JOIN SEL_CONTABIL_PLANO_CONTAS_GERENCIAL AS CPCG01 ON CPCG01.CD_CONTA_GERENCIAL = SCD01.CD_CONTA_GERENCIAL
WHERE SCOC01.CD_USUARIO_AUTORIZOU IS NOT NULL AND SCOC01.CD_USUARIO_REPROVOU IS NULL AND SCD01.CD_ORIGEM = 20 AND SCD01.CD_CONTA_GERENCIAL = SCD.CD_CONTA_GERENCIAL
GROUP BY SCD01.CD_CONTA_GERENCIAL)) VL_DISPONIVEL,

SCD.VL_CUSTO VL_ORDEM_COMPRA

FROM SEL_COMPRAS_ORDEM_COMPRA AS SCOC
LEFT JOIN SEL_CUSTOS_DESDOBRADOS AS SCD ON SCD.CD_LANCAMENTO = SCOC.CD_ORDEM_COMPRA
LEFT JOIN SEL_CONTABIL_PLANO_CONTAS_GERENCIAL AS CPCG ON CPCG.CD_CONTA_GERENCIAL = SCD.CD_CONTA_GERENCIAL
WHERE SCD.CD_ORIGEM = 20 AND SCOC.CD_ORDEM_COMPRA = 161--ORDEM DE COMPRA SELECIONADA




